{
  "swagger": "2.0",
  "info": {
    "version": "2020-09-01",
    "title": "AFDXManagementClient",
    "description": "Use these APIs to manage AFDX resources through the Azure Resource Manager. You must make sure that requests made to these resources are secure."
  },
  "host": "management.azure.com",
  "schemes": [
    "https"
  ],
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "flow": "implicit",
      "description": "Azure Active Directory OAuth2 Flow.",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "paths": {
    "/subscriptions/{subscriptionId}/providers/Microsoft.Cdn/profiles": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "description": "Lists all of the AFDX profiles within an Azure subscription.",
        "operationId": "Profiles_List",
        "x-ms-examples": {
          "Profiles_List": {
            "$ref": "./examples/Profiles_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProfileListResult"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "description": "Lists all of the AFDX profiles within a resource group.",
        "operationId": "Profiles_ListByResourceGroup",
        "x-ms-examples": {
          "Profiles_ListByResourceGroup": {
            "$ref": "./examples/Profiles_ListByResourceGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/ProfileListResult"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}": {
      "get": {
        "tags": [
          "Profiles"
        ],
        "description": "Gets a AFDX profile with the specified profile name under the specified subscription and resource group.",
        "operationId": "Profiles_Get",
        "x-ms-examples": {
          "Profiles_Get": {
            "$ref": "./examples/Profiles_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Profiles"
        ],
        "description": "Creates a new AFDX profile with a profile name under the specified subscription and resource group.",
        "operationId": "Profiles_Create",
        "x-ms-examples": {
          "Profiles_Create": {
            "$ref": "./examples/Profiles_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "description": "Profile properties needed to create a new profile.",
            "in": "body",
            "name": "profile",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "201": {
            "description": "Created. The request has been fulfilled and a new profile has been created.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "202": {
            "description": "Accepted. The request has been accepted for processing and the operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Profiles"
        ],
        "description": "Updates an existing AFDX profile with the specified profile name under the specified subscription and resource group.",
        "operationId": "Profiles_Update",
        "x-ms-examples": {
          "Profiles_Update": {
            "$ref": "./examples/Profiles_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "profileUpdateParameters",
            "in": "body",
            "description": "Profile properties needed to update an existing profile.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/ProfileUpdateParameters"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "202": {
            "description": "Accepted. The request has been accepted for processing and the operation will complete asynchronously.",
            "schema": {
              "$ref": "#/definitions/Profile"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "Profiles"
        ],
        "description": "Deletes an existing AFDX profile with the specified parameters. Deleting a profile will result in the deletion of all of the sub-resources including endpoints, origins and domains.",
        "operationId": "Profiles_Delete",
        "x-ms-examples": {
          "Profiles_Delete": {
            "$ref": "./examples/Profiles_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted. The request has been accepted for processing and the operation will complete asynchronously."
          },
          "204": {
            "description": "No Content. The request has been accepted but the profile was not found."
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/domains": {
      "get": {
        "tags": [
          "Domains"
        ],
        "description": "Lists existing AFDX domains.",
        "operationId": "Domains_ListByProfile",
        "x-ms-examples": {
          "Domains_ListByProfile": {
            "$ref": "./examples/Domains_ListByProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DomainListResult"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/domains/{domainName}": {
      "get": {
        "tags": [
          "Domains"
        ],
        "description": "Gets an existing AFDX domain with the specified domain name under the specified subscription, resource group and profile.",
        "operationId": "Domains_Get",
        "x-ms-examples": {
          "Domains_Get": {
            "$ref": "./examples/Domains_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "Name of the domain under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Domain"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Domains"
        ],
        "description": "Creates a new domain within the specified profile.",
        "operationId": "Domains_Create",
        "x-ms-examples": {
          "Domains_Create": {
            "$ref": "./examples/Domains_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "Name of the domain under the profile which is unique globally",
            "required": true,
            "type": "string"
          },
          {
            "name": "domain",
            "in": "body",
            "description": "Domain properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DomainParameters"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Domain"
            }
          },
          "201": {
            "description": "Created. The request has been fulfilled and a new domain has been created.",
            "schema": {
              "$ref": "#/definitions/Domain"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/Domain"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Domains"
        ],
        "description": "Updates an existing domain within a profile.",
        "operationId": "Domains_Update",
        "x-ms-examples": {
          "Domains_Update": {
            "$ref": "./examples/Domains_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "Name of the domain under the profile which is unique globally",
            "required": true,
            "type": "string"
          },
          {
            "name": "domain",
            "in": "body",
            "description": "Domain properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DomainParameters"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Domain"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/Domain"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "Domains"
        ],
        "description": "Deletes an existing AFDX domain with the specified domain name under the specified subscription, resource group and profile.",
        "operationId": "Domains_Delete",
        "x-ms-examples": {
          "Domains_Delete": {
            "$ref": "./examples/Domains_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "Name of the domain under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content. The request has been accepted but the domain was not found."
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/domains/{domainName}/updateOwnershipIdentifier": {
      "post": {
        "tags": [
          "Domains"
        ],
        "description": "Updates the domain ownership identifier.",
        "operationId": "Domains_UpdateOwnershipIdentifier",
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "domainName",
            "in": "path",
            "description": "Name of the domain under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/keys": {
      "get": {
        "tags": [
          "Keys"
        ],
        "description": "Lists existing AFDX keys.",
        "operationId": "Keys_ListByProfile",
        "x-ms-examples": {
          "Keys_ListByProfile": {
            "$ref": "./examples/Keys_ListByProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/KeyListResult"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/afdcdnEndpoints": {
      "get": {
        "tags": [
          "AFDCDNEndpoints"
        ],
        "description": "Lists existing AFDX endpoints.",
        "operationId": "AFDCDNEndpoints_ListByProfile",
        "x-ms-examples": {
          "AFDCDNEndpoints_ListByProfile": {
            "$ref": "./examples/AFDCDNEndpoints_ListByProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AFDCDNEndpointListResult"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/afdcdnEndpoints/{endpointName}": {
      "get": {
        "tags": [
          "AFDCDNEndpoints"
        ],
        "description": "Gets an existing AFDX endpoint with the specified endpoint name under the specified subscription, resource group and profile.",
        "operationId": "AFDCDNEndpoints_Get",
        "x-ms-examples": {
          "AFDCDNEndpoints_Get": {
            "$ref": "./examples/AFDCDNEndpoints_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AFDCDNEndpoint"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "AFDCDNEndpoints"
        ],
        "description": "Creates a new AFDX endpoint with the specified endpoint name under the specified subscription, resource group and profile.",
        "operationId": "AFDCDNEndpoints_Create",
        "x-ms-examples": {
          "AFDCDNEndpoints_Create": {
            "$ref": "./examples/AFDCDNEndpoints_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpoint",
            "in": "body",
            "description": "Endpoint properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AFDCDNEndpoint"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AFDCDNEndpoint"
            }
          },
          "201": {
            "description": "Created. The request has been fulfilled and a new endpoint has been created.",
            "schema": {
              "$ref": "#/definitions/AFDCDNEndpoint"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/AFDCDNEndpoint"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "AFDCDNEndpoints"
        ],
        "description": "Updates an existing AFDX endpoint with the specified endpoint name under the specified subscription, resource group and profile. Only tags can be updated after creating an endpoint. To update origins, use the Update Origin operation. To update origin groups, use the Update Origin group operation. To update domains, use the Update Custom Domain operation.",
        "operationId": "AFDCDNEndpoints_Update",
        "x-ms-examples": {
          "AFDCDNEndpoints_Update": {
            "$ref": "./examples/AFDCDNEndpoints_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointUpdateProperties",
            "in": "body",
            "description": "Endpoint update properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/AFDCDNEndpointUpdateParameters"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/AFDCDNEndpoint"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/AFDCDNEndpoint"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "AFDCDNEndpoints"
        ],
        "description": "Deletes an existing AFDX endpoint with the specified endpoint name under the specified subscription, resource group and profile.",
        "operationId": "AFDCDNEndpoints_Delete",
        "x-ms-examples": {
          "AFDCDNEndpoints_Delete": {
            "$ref": "./examples/AFDCDNEndpoints_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content"
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/afdcdnEndpoints/{endpointName}/purge": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "description": "Removes a content from AFDX.",
        "operationId": "AFDCDNEndpoints_PurgeContent",
        "x-ms-examples": {
          "AFDCDNEndpoints_PurgeContent": {
            "$ref": "./examples/AFDCDNEndpoints_PurgeContent.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contentFilePaths",
            "in": "body",
            "description": "The path to the content to be purged. Path can be a full URL, e.g. '/pictures/city.png' which removes a single file, or a directory with a wildcard, e.g. '/pictures/*' which removes all folders and files in the directory.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PurgeParameters"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/afdcdnEndpoints/{endpointName}/load": {
      "post": {
        "tags": [
          "Endpoints"
        ],
        "description": "Pre-loads a content to AFDX.",
        "operationId": "AFDCDNEndpoints_LoadContent",
        "x-ms-examples": {
          "AFDCDNEndpoints_LoadContent": {
            "$ref": "./examples/AFDCDNEndpoints_LoadContent.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "name": "contentFilePaths",
            "in": "body",
            "description": "The path to the content to be loaded. Path should be a full URL, e.g. ‘/pictures/city.png' which loads a single file ",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LoadParameters"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK"
          },
          "202": {
            "description": "Accepted"
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/afdcdnEndpoints/{endpointName}/deliveryRules": {
      "get": {
        "tags": [
          "DeliveryRules"
        ],
        "description": "Lists all of the existing delivery rules within an endpoint.",
        "operationId": "DeliveryRules_ListByEndpoint",
        "x-ms-examples": {
          "OriginsGroups_ListByEndpoint": {
            "$ref": "./examples/DeliveryRules_ListByEndpoint.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeliveryRuleListResult"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/afdcdnEndpoints/{endpointName}/deliveryRules/{deliveryRuleName}": {
      "get": {
        "tags": [
          "DeliveryRules"
        ],
        "description": "Gets an existing delivery rule within an endpoint.",
        "operationId": "DeliveryRules_Get",
        "x-ms-examples": {
          "Rules_Get": {
            "$ref": "./examples/DeliveryRules_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "name": "deliveryRuleName",
            "in": "path",
            "description": "Name of the delivery rule which is unique within the endpoint.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeliveryRule"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "DeliveryRules"
        ],
        "description": "Creates a new delivery rule within the specified endpoint.",
        "operationId": "DeliveryRules_Create",
        "x-ms-examples": {
          "Rules_Create": {
            "$ref": "./examples/DeliveryRules_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "name": "deliveryRuleName",
            "in": "path",
            "description": "Name of the delivery rule which is unique within the endpoint.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeliveryRule"
            }
          },
          "201": {
            "description": "Created. The request has been fulfilled and a new delivery rule has been created.",
            "schema": {
              "$ref": "#/definitions/DeliveryRule"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DeliveryRule"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "DeliveryRules"
        ],
        "description": "Updates an existing delivery rule within an endpoint.",
        "operationId": "DeliveryRules_Update",
        "x-ms-examples": {
          "Rules_Update": {
            "$ref": "./examples/DeliveryRules_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "name": "deliveryRuleName",
            "in": "path",
            "description": "Name of the delivery rule which is unique within the endpoint.",
            "required": true,
            "type": "string"
          },
          {
            "name": "deliveryRuleProperties",
            "in": "body",
            "description": "Delivery rule properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/DeliveryRule"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/DeliveryRule"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/DeliveryRule"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "DeliveryRules"
        ],
        "description": "Deletes an existing delivery rule within an endpoint.",
        "operationId": "DeliveryRules_Delete",
        "x-ms-examples": {
          "Rules_Delete": {
            "$ref": "./examples/DeliveryRules_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "endpointName",
            "in": "path",
            "description": "Name of the endpoint under the profile which is unique globally.",
            "required": true,
            "type": "string"
          },
          {
            "name": "deliveryRuleName",
            "in": "path",
            "description": "Name of the delivery rule which is unique within the endpoint.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content. The request has been accepted but the origin was not found."
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/originGroups": {
      "get": {
        "tags": [
          "OriginGroups"
        ],
        "description": "Lists all of the existing origin groups within a profile.",
        "operationId": "OriginGroups_ListByProfile",
        "x-ms-examples": {
          "OriginGroups_ListByProfile": {
            "$ref": "./examples/OriginGroups_ListByProfile.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OriginGroupListResult"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/originGroups/{originGroupName}": {
      "get": {
        "tags": [
          "OriginGroups"
        ],
        "description": "Gets an existing origin group within a profile.",
        "operationId": "OriginGroups_Get",
        "x-ms-examples": {
          "OriginGroups_Get": {
            "$ref": "./examples/OriginGroups_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "originGroupName",
            "in": "path",
            "description": "Name of the origin group which is unique within the endpoint.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OriginGroup"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "OriginGroups"
        ],
        "description": "Creates a new origin group within the specified profile.",
        "operationId": "OriginGroups_Create",
        "x-ms-examples": {
          "OriginGroups_Create": {
            "$ref": "./examples/OriginGroups_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "originGroupName",
            "in": "path",
            "description": "Name of the origin group which is unique within the endpoint.",
            "required": true,
            "type": "string"
          },
          {
            "name": "originGroup",
            "in": "body",
            "description": "Origin group properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OriginGroup"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OriginGroup"
            }
          },
          "201": {
            "description": "Created. The request has been fulfilled and a new origin group has been created.",
            "schema": {
              "$ref": "#/definitions/OriginGroup"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/OriginGroup"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "OriginGroups"
        ],
        "description": "Updates an existing origin group within a profile.",
        "operationId": "OriginGroups_Update",
        "x-ms-examples": {
          "OriginGroups_Update": {
            "$ref": "./examples/OriginGroups_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "originGroupName",
            "in": "path",
            "description": "Name of the origin group which is unique within the profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "originGroupUpdateProperties",
            "in": "body",
            "description": "Origin group properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OriginGroupUpdateParameters"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OriginGroup"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/OriginGroup"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "OriginGroups"
        ],
        "description": "Deletes an existing origin group within a profile.",
        "operationId": "OriginGroups_Delete",
        "x-ms-examples": {
          "OriginGroups_Delete": {
            "$ref": "./examples/OriginGroups_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "originGroupName",
            "in": "path",
            "description": "Name of the origin group which is unique within the profile.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content. The request has been accepted but the origin group was not found."
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/originGroups/{originGroupName}/origins": {
      "get": {
        "tags": [
          "Origins"
        ],
        "description": "Lists all of the existing origins within a origin group.",
        "operationId": "Origins_ListByOriginGroup",
        "x-ms-examples": {
          "Origins_ListByOriginGroup": {
            "$ref": "./examples/Origins_ListByOriginGroup.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "originGroupName",
            "in": "path",
            "description": "Name of the origin group which is unique within the profile.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OriginListResult"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.Cdn/profiles/{profileName}/originGroups/{originGroupName}/origins/{originName}": {
      "get": {
        "tags": [
          "Origins"
        ],
        "description": "Gets an existing origin within an origin group.",
        "operationId": "Origins_Get",
        "x-ms-examples": {
          "Origins_Get": {
            "$ref": "./examples/Origins_Get.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "originGroupName",
            "in": "path",
            "description": "Name of the origin group which is unique within the profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "originName",
            "in": "path",
            "description": "Name of the origin which is unique within the  origin group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Origin"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "tags": [
          "Origins"
        ],
        "description": "Creates a new origin within the specified origin group.",
        "operationId": "Origins_Create",
        "x-ms-examples": {
          "Origins_Create": {
            "$ref": "./examples/Origins_Create.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "originGroupName",
            "in": "path",
            "description": "Name of the origin group which is unique within the profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "originName",
            "in": "path",
            "description": "Name of the origin that is unique within the  origin group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "origin",
            "in": "body",
            "description": "Origin properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/Origin"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Origin"
            }
          },
          "201": {
            "description": "Created. The request has been fulfilled and a new origin has been created.",
            "schema": {
              "$ref": "#/definitions/Origin"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/Origin"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "tags": [
          "Origins"
        ],
        "description": "Updates an existing origin within a origin group.",
        "operationId": "Origins_Update",
        "x-ms-examples": {
          "Origins_Update": {
            "$ref": "./examples/Origins_Update.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "originGroupName",
            "in": "path",
            "description": "Name of the origin group which is unique within the profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "originName",
            "in": "path",
            "description": "Name of the origin which is unique within the origin group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "originUpdateProperties",
            "in": "body",
            "description": "Origin properties",
            "required": true,
            "schema": {
              "$ref": "#/definitions/OriginUpdateParameters"
            }
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/Origin"
            }
          },
          "202": {
            "description": "Accepted",
            "schema": {
              "$ref": "#/definitions/Origin"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      },
      "delete": {
        "tags": [
          "Origins"
        ],
        "description": "Deletes an existing origin within a origin group.",
        "operationId": "Origins_Delete",
        "x-ms-examples": {
          "Origins_Delete": {
            "$ref": "./examples/Origins_Delete.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/resourceGroupNameParameter"
          },
          {
            "name": "profileName",
            "in": "path",
            "description": "Name of the AFDX profile which is unique within the resource group.",
            "required": true,
            "type": "string"
          },
          {
            "name": "originGroupName",
            "in": "path",
            "description": "Name of the origin group which is unique within the profile.",
            "required": true,
            "type": "string"
          },
          {
            "name": "originName",
            "in": "path",
            "description": "Name of the origin which is unique within the  origin group.",
            "required": true,
            "type": "string"
          },
          {
            "$ref": "#/parameters/subscriptionIdParameter"
          },
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "202": {
            "description": "Accepted"
          },
          "204": {
            "description": "No Content. The request has been accepted but the origin was not found."
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation": true
      }
    },
    "/providers/Microsoft.Cdn/operations": {
      "get": {
        "tags": [
          "Operations"
        ],
        "description": "Lists all of the available AFDX REST API operations.",
        "operationId": "Operations_List",
        "x-ms-examples": {
          "Operations_List": {
            "$ref": "./examples/Operations_List.json"
          }
        },
        "parameters": [
          {
            "$ref": "#/parameters/apiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "OK",
            "schema": {
              "$ref": "#/definitions/OperationsListResult"
            }
          },
          "default": {
            "description": "CDN error response describing why the operation failed.",
            "schema": {
              "$ref": "#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    }
  },
  "definitions": {
    "Profile": {
      "description": "CDN profile is a logical grouping of endpoints that share the same settings, such as AFDX provider and pricing tier.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "sku": {
          "description": "The pricing tier (defines a AFDX provider, feature list and rate) of the AFDX profile.",
          "$ref": "#/definitions/Sku"
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/ProfileProperties"
        }
      },
      "required": [
        "sku"
      ]
    },
    "ProfileProperties": {
      "description": "The JSON object that contains the properties required to create a profile.",
      "properties": {
        "resourceState": {
          "description": "Resource status of the profile.",
          "readOnly": true,
          "enum": [
            "Creating",
            "Active",
            "Deleting",
            "Disabled"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "ProfileResourceState",
            "modelAsString": true
          }
        },
        "provisioningState": {
          "readOnly": true,
          "description": "Provisioning status of the profile.",
          "type": "string"
        }
      }
    },
    "ProfileListResult": {
      "description": "Result of the request to list profiles. It contains a list of profile objects and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/Profile"
          },
          "description": "List of AFDX profiles within a resource group."
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of profile objects if there are any."
        }
      }
    },
    "ProfileUpdateParameters": {
      "type": "object",
      "description": "Properties required to update a profile.",
      "properties": {
        "tags": {
          "description": "Profile tags",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        }
      },
      "x-ms-azure-resource": true
    },
    "AFDCDNEndpoint": {
      "description": "CDN endpoint is the entity within a AFDX profile containing configuration information such as origin, protocol, content caching and delivery behavior. The AFDX endpoint uses the URL format <endpointname>.azureedge.net.",
      "type": "object",
      "allOf": [
        {
          "$ref": "#/definitions/TrackedResource"
        }
      ],
      "properties": {
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AFDCDNEndpointProperties"
        }
      }
    },
    "AFDCDNEndpointProperties": {
      "description": "The JSON object that contains the properties required to create an endpoint.",
      "required": [
        "origins"
      ],
      "allOf": [
        {
          "$ref": "#/definitions/AFDCDNEndpointPropertiesUpdateParameters"
        }
      ],
      "properties": {
        "hostName": {
          "description": "The host name of the endpoint structured as {endpointName}.{DNSZone}, e.g. contoso.azureedge.net",
          "type": "string",
          "readOnly": true
        },
        "resourceState": {
          "description": "Resource status of the endpoint.",
          "readOnly": true,
          "enum": [
            "Creating",
            "Deleting",
            "Running",
            "Starting",
            "Stopped",
            "Stopping"
          ],
          "type": "string",
          "x-ms-enum": {
            "name": "EndpointResourceState",
            "modelAsString": true
          }
        },
        "provisioningState": {
          "readOnly": true,
          "description": "Provisioning status of the endpoint.",
          "type": "string"
        }
      }
    },
    "AFDCDNEndpointListResult": {
      "description": "Result of the request to list endpoints. It contains a list of endpoint objects and a URL link to get the next set of results.",
      "properties": {
        "value": {
          "type": "array",
          "readOnly": true,
          "items": {
            "$ref": "#/definitions/AFDCDNEndpoint"
          },
          "description": "List of AFDX endpoints within a profile"
        },
        "nextLink": {
          "type": "string",
          "description": "URL to get the next set of endpoint objects if there is any."
        }
      }
    },
    "AFDCDNEndpointUpdateParameters": {
      "type": "object",
      "description": "Properties required to create or update an endpoint.",
      "properties": {
        "tags": {
          "description": "Endpoint tags.",
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "properties": {
          "x-ms-client-flatten": true,
          "$ref": "#/definitions/AFDCDNEndpointPropertiesUpdateParameters"
        }
      },
      "x-ms-azure-resource": true
    },
    "AFDCDNEndpointPropertiesUpdateParameters": {
      "description": "The JSON object containing endpoint update parameters.",
      "properties": {
        "domains": {
          "description": "Domains referenced by this endpoint.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/ResourceReference"
          }
        },
        "originGroup": {
          "description": "A reference to the origin group.",
          "type": "object",
          "$ref": "#/definitions/ResourceReference"
        },
        "originPath": {
          "description": "A directory path on the origin that AFDX can use to retrieve content from, e.g. contoso.cloudapp.net/originpath.",
          "type": "string"
        },
        "contentTypesToCompress": {
          "description": "List of content types on which compression applies. The value should be a valid MIME type.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "isCompressionEnabled": {
          "description": "Indicates whether content compression is enabled on AFDX. Default value is false. If compression is enabled, content will be served as compressed if user requests for a compressed version. Content won't be compressed on AFDX when requested content is smaller than 1 byte or larger than 1 MB.",
          "type": "boolean"
        },
        "supportedProtocols": {
          "description": "List of supported protocols for the customer's endpoint.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/AFDCDNEndpointProtocols"
          }
        },
        "queryStringCachingBehavior": {
          "description": "Defines how AFDX caches requests that include query strings. You can ignore any query strings when caching, bypass caching to prevent requests that contain query strings from being cached, or cache every request with a unique URL.",
          "$ref": "#/definitions/QueryStringCachingBehavior"
        },
        "optimizationType": {
          "description": "Specifies what scenario the customer wants this AFDX endpoint to optimize for, e.g. Download, Media services. With this information, AFDX can apply scenario driven optimization.",
          "$ref": "#/definitions/OptimizationType"
        },
        "probePath": {
          "description": "Path to a file hosted on the origin which helps accelerate delivery of the dynamic content and calculate the most optimal routes for the AFDX. This is relative to the origin path. This property is only relevant when using a single origin.",
          "type": "string"
        },
        "geoFilters": {
          "description": "List of rules defining the user's geo access within a AFDX endpoint. Each geo filter defines an access rule to a specified path or content, e.g. block APAC for path /pictures/",
          "type": "array",
          "items": {
            "$ref": "#/definitions/GeoFilter"
          }
        },
        "webApplicationFirewallPolicy": {
          "description": "Defines the Web Application Firewall policy for the endpoint (if applicable)",
          "type": "object",
          "properties": {
            "id": {
              "type": "string",
              "description": "Resource ID."
            }
          }
        }
      }
    },
    "DeliveryRule": {
      "description": "A rule that specifies a set of actions and conditions",
      "type": "object",
      "required": [
        "order",
        "actions"
      ],
      "properties": {
        "name": {
          "description": "Name of the rule",
          "type": "string"
        },
        "order": {
          "description": "The order in which the rules are applied for the endpoint. Possible values {0,1,2,3,………}. A rule with a lesser order will be applied before a rule with a greater order. Rule with order 0 is a special rule. It does not require any condition and actions listed in it will always be applied.",
          "type": "integer"
        },
        "conditions": {
          "description": "A list of conditions that must be matched for the actions to be executed",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeliveryRuleCondition"
          }
        },
        "actions": {
          "description": "A list of actions that are executed when all the conditions of a rule are satisfied.",
          "type": "array",
          "items": {
            "$ref": "#/definitions/DeliveryRuleAction"
          }
        }
      }
    },
    "DeliveryRuleCondition": {
      "description": "A condition for the delivery rule.",
      "discriminator": "name",
      "required": [
        "name"
      ],
      "properties": {
        "name": {
          "description": "The name of the condition for the delivery rule.",
          "type": "string",
          "enum": [
            "RemoteAddress",
            "RequestMethod",
            "QueryString",
            "PostArgs",
            "RequestUri",
            "RequestHeader",
            "RequestBody",
            "RequestScheme",
            "UrlPath",
            "UrlFileExtension",
            "UrlFileName",
            "HttpVersion",
            "Cookies",
            "IsDevice"
          ],
          "x-ms-enum": {
            "name": "MatchVariable",
            "modelAsString": true
          }
        }
      }
    },
    "DeliveryRuleRemoteAddressCondition": {
      "description": "Defines the RemoteAddress condition for the delivery rule.",
      "x-ms-discriminator-value": "RemoteAddress",
      "allOf": [
        {
          "$ref": "#/definitions/DeliveryRuleCondition"
        }
      ],
      "required": [
        "parameters"
      ],
      "properties": {
        "parameters": {
          "description": "Defines the parameters for the condition.",
          "$ref": "#/definitions/RemoteAddressMatchConditionParameters"
        }
      }
    },
    "DeliveryRuleRequestMethodCondition": {
      "description": "Defines the RequestMethod condition for the delivery rule.",
      "x-ms-discriminator-value": "RequestMethod",
      "allOf": [
        {
          "$ref": "#/definitions/DeliveryRuleCondition"
        }
      ],
      "required": [
        "parameters"
      ],
      "properties": {
        "parameters": {
          "description": "Defines the parameters for the condition.",
          "$ref": "#/definitions/RequestMethodMatchConditionParameters"
        }
      }
    },
    "DeliveryRuleQueryStringCondition": {
      "description": "Defines the QueryString condition for the delivery rule.",
      "x-ms-discriminator-value": "QueryString",
      "allOf": [
        {
          "$ref": "#/definitions/DeliveryRuleCondition"
        }
      ],
      "required": [
        "parameters"
      ],
      "properties": {
        "parameters": {
          "description": "Defines the parameters for the condition.",
          "$ref": "#/definitions/QueryStringMatchConditionParameters"
        }
      }
    },
    "DeliveryRulePostArgsCondition": {
      "description": "Defines the PostArgs condition for the delivery rule.",
      "x-ms-discriminator-value": "PostArgs",
      "allOf": [
        {
          "$ref": "#/definitions/DeliveryRuleCondition"
        }
      ],
      "required": [
        "parameters"
      ],
      "properties": {
        "parameters": {
          "description": "Defines the parameters for the condition.",
          "$ref": "#/definitions/PostArgsMatchConditionParameters"
        }
      }
    },
    "DeliveryRuleRequestUriCondition": {
      "description": "Defines the RequestUri condition for the delivery rule.",
      "x-ms-discriminator-value": "RequestUri",
      "allOf": [
        {
          "$ref": "#/definitions/DeliveryRuleCondition"
        }
      ],
      "required": [
        "parameters"
      ],
      "properties": {
        "parameters": {
          "description": "Defines the parameters for the condition.",
          "$ref": "#/definitions/RequestUriMatchConditionParameters"
        }
      }
    },
    "DeliveryRuleRequestHeaderCondition": {
      "description": "Defines the RequestHeader condition for the delivery rule.",
      "x-ms-discriminator-value": "RequestHeader",
      "allOf": [
        {
          "$ref": "#/definitions/DeliveryRuleCondition"
        }
      ],
      "required": [
        "parameters"
      ],
      "properties": {
        "parameters": {
          "description": "Defines the parameters for the condition.",
          "$ref": "#/definitions/RequestHeaderMatchConditionParameters"
        }
      }
    },
    "DeliveryRuleRequestBodyCondition": {
      "description": "Defines the RequestBody condition for the delivery rule.",
      "x-ms-discriminator-value": "RequestBody",
      "allOf": [
        {
          "$ref": "#/definitions/DeliveryRuleCondition"
        }
      ],
      "required": [
        "parameters"
      ],
      "properties": {
        "parameters": {
          "description": "Defines the parameters for the condition.",
          "$ref": "#/definitions/RequestBodyMatchConditionParameters"
        }
      }
    },
    "DeliveryRuleRequestSchemeCondition": {
      "description": "Defines the RequestScheme condition for the delivery rule.",
      "x-ms-discriminator-value": "RequestScheme",
      "allOf": [
        {
          "$ref": "#/definitions/DeliveryRuleCondition"
        }
      ],
      "required": [
        "parameters"
      ],
      "properties": {
        "parameters": {
          "description": "Defines the parameters for the condition.",
          "$ref": "#/definitions/RequestSchemeMatchConditionParameters"
        }
      }
    },
    "DeliveryRuleUrlPathCondition": {
      "description": "Defines the UrlPath condition for the delivery rule.",
      "x-ms-discriminator-value": "UrlPath",
      "allOf": [
        {
          "$ref": "#/definitions/DeliveryRuleCondition"
        }
      ],
      "required": [
        "parameters"
      ],
      "properties": {
        "parameters": {
          "description": "Defines the parameters for the condition.",
          "$ref": "#/definitions/UrlPathMatchConditionParameters"
        }
      }
    },
    "DeliveryRuleUrlFileExtensionCondition": {
      "description": "Defines the UrlFileExtension condition for the delivery rule.",
      "x-ms-discriminator-value": "UrlFileExtension",
      "allOf": [
        {
          "$ref": "#/definitions/DeliveryRuleCondition"
        }
      ],
      "required": [
        "parameters"
      ],
      "properties": {
        "parameters": {
          "description": "Defines the parameters for the condition.",
          "$ref": "#/definitions/UrlFileExtensionMatchConditionParameters"
        }
      }
    },
    "DeliveryRuleUrlFileNameCondition": {
      "description": "Defines the UrlFileName condition for the delivery rule.",
      "x-ms-discriminator-value": "UrlFileName",
      "allOf": [
        {
          "$ref": "#/definitions/DeliveryRuleCondition"
        }
      ],
      "required": [
        "parameters"
      ],
      "properties": {
        "parameters": {
          "description": "Defines the parameters for the condition.",
          "$ref": "#/definitions/UrlFileNameMatchConditionParameters"
        }
      }
    },
    "DeliveryRuleHttpVersionCondition": {
      "description": "Defines the HttpVersion condition for the delivery rule.",
      "x-ms-discriminator-value": "HttpVersion",
      "allOf": [
        {
          "$ref": "#/definitions/DeliveryRuleCondition"
        }
      ],
      "required": [
        "parameters"
      ],
      "properties": {
        "parameters": {
          "description": "Defines the parameters for the condition.",
          "$ref": "#/definitions/HttpVersionMatchConditionParameters"
        }
      }
    },
    "DeliveryRuleCookiesCondition": {
      "description": "Defines the Cookies condition for the delivery rule.",
      "x-ms-discriminator-value": "Cookies",
      "allOf": [
        {
          "$ref": "#/definitions/DeliveryRuleCondition"
        }
      ],
      "required": [
        "parameters"
      ],
      "properties": {
        "parameters": {
          "description": "Defines the parameters for the condition.",
          "$ref": "#/definitions/CookiesMatchConditionParameters"
        }
      }
    },
    "DeliveryRuleIsDeviceCondition": {
      "description": "Defines the IsDevice condition for the delivery rule.",
      "x-ms-discriminator-value": "IsDevice",
      "allOf": [
        {
          "$ref": "#/definitions/DeliveryRuleCondition"
        }
      ],
      "required": [
        "parameters"
      ],
      "properties": {
        "parameters": {
          "description": "Defines the parameters for the condition.",
          "$ref": "#/definitions/IsDeviceMatchConditionParameters"
        }
      }
    },
    "RemoteAddressMatchConditionParameters": {
      "description": "Defines the parameters for RemoteAddress match conditions",
      "required": [
        "operator",
        "matchValues",
        "@odata.type"
      ],
      "properties": {
        "@odata.type": {
          "type": "string",
          "enum": [
            "#Microsoft.Azure.Cdn.Models.DeliveryRuleRemoteAddressConditionParameters"
          ]
        },
        "operator": {
          "description": "Describes operator to be matched",
          "type": "string",
          "enum": [
            "Any",
            "IPMatch",
            "GeoMatch"
          ],
          "x-ms-enum": {
            "name": "RemoteAddressOperator",
            "modelAsString": true
          }
        },
        "negateCondition": {
          "description": "Describes if this is negate condition or not",
          "type": "boolean"
        },
        "matchValues": {
          "description": "Match values to match against. The operator will apply to each value in here with OR semantics. If any of them match the variable with the given operator this match condition is considered a match.",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "transforms": {
          "description": "List of transforms",
          "type": "array",
          "items": {
            "$ref": "#/definitions/transform"
          }
        }
      }
    },
    "RequestMethodMatchConditionParameters": {
      "description": "Defines the parameters for RequestMethod match conditions",
      "required": [
        "operator",
        "matchValues",
        "@odata.type"
      ],
      "properties": {
        "@odata.type": {
          "type": "string",
          "enum": [
            "#Microsoft.Azure.Cdn.Models.DeliveryRuleRequestMethodConditionParameters"
          ]
        },
        "operator": {
          "description": "Describes operator to be matched",
          "type": "string",
          "enum": [
            "Equal"
          ],
          "x-ms-enum": {
            "name": "RequestMethodOperator",
            "modelAsString": true
          }
        },
        "negateCondition": {
          "description": "Describes if this is negate condition or not",
          "type": "boolean"
        },
        "matchValues": {
          "description": "The match value for the condition of the delivery rule",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "GET",
              "HEAD",
              "POST",
              "PUT",
              "DELETE",
              "OPTIONS",
              "TRACE"
            ]
          }
        }
      }
    },
    "QueryStringMatchConditionParameters": {
      "description": "Defines the parameters for QueryString match conditions",
      "required": [
        "operator",
        "matchValues",
        "@odata.type"
      ],
      "properties": {
        "@odata.type": {
          "type": "string",
          "enum": [
            "#Microsoft.Azure.Cdn.Models.DeliveryRuleQueryStringConditionParameters"
          ]
        },
        "operator": {
          "description": "Describes operator to be matched",
          "type": "string",
          "enum": [
            "Any",
            "Equal",
            "Contains",
            "BeginsWith",
            "EndsWith",
            "LessThan",
            "LessThanOrEqual",
            "GreaterThan",
            "GreaterThanOrEqual"
          ],
          "x-ms-enum": {
            "name": "QueryStringOperator",
            "modelAsString": true
          }
        },
        "negateCondition": {
          "description": "Describes if this is negate condition or not",
          "type": "boolean"
        },
        "matchValues": {
          "description": "The match value for the condition of the delivery rule",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "transforms": {
          "description": "List of transforms",
          "type": "array",
          "items": {
            "$ref": "#/definitions/transform"
          }
        }
      }
    },
    "PostArgsMatchConditionParameters": {
      "description": "Defines the parameters for PostArgs match conditions",
      "required": [
        "operator",
        "matchValues",
        "selector",
        "@odata.type"
      ],
      "properties": {
        "@odata.type": {
          "type": "string",
          "enum": [
            "#Microsoft.Azure.Cdn.Models.DeliveryRulePostArgsConditionParameters"
          ]
        },
        "selector": {
          "description": "Name of PostArg to be matched",
          "type": "string"
        },
        "operator": {
          "description": "Describes operator to be matched",
          "type": "string",
          "enum": [
            "Any",
            "Equal",
            "Contains",
            "BeginsWith",
            "EndsWith",
            "LessThan",
            "LessThanOrEqual",
            "GreaterThan",
            "GreaterThanOrEqual"
          ],
          "x-ms-enum": {
            "name": "PostArgsOperator",
            "modelAsString": true
          }
        },
        "negateCondition": {
          "description": "Describes if this is negate condition or not",
          "type": "boolean"
        },
        "matchValues": {
          "description": "The match value for the condition of the delivery rule",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "transforms": {
          "description": "List of transforms",
          "type": "array",
          "items": {
            "$ref": "#/definitions/transform"
          }
        }
      }
    },
    "RequestUriMatchConditionParameters": {
      "description": "Defines the parameters for RequestUri match conditions",
      "required": [
        "operator",
        "matchValues",
        "@odata.type"
      ],
      "properties": {
        "@odata.type": {
          "type": "string",
          "enum": [
            "#Microsoft.Azure.Cdn.Models.DeliveryRuleRequestUriConditionParameters"
          ]
        },
        "operator": {
          "description": "Describes operator to be matched",
          "type": "string",
          "enum": [
            "Any",
            "Equal",
            "Contains",
            "BeginsWith",
            "EndsWith",
            "LessThan",
            "LessThanOrEqual",
            "GreaterThan",
            "GreaterThanOrEqual"
          ],
          "x-ms-enum": {
            "name": "RequestUriOperator",
            "modelAsString": true
          }
        },
        "negateCondition": {
          "description": "Describes if this is negate condition or not",
          "type": "boolean"
        },
        "matchValues": {
          "description": "The match value for the condition of the delivery rule",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "transforms": {
          "description": "List of transforms",
          "type": "array",
          "items": {
            "$ref": "#/definitions/transform"
          }
        }
      }
    },
    "RequestHeaderMatchConditionParameters": {
      "description": "Defines the parameters for RequestHeader match conditions",
      "required": [
        "operator",
        "matchValues",
        "selector",
        "@odata.type"
      ],
      "properties": {
        "@odata.type": {
          "type": "string",
          "enum": [
            "#Microsoft.Azure.Cdn.Models.DeliveryRuleRequestHeaderConditionParameters"
          ]
        },
        "selector": {
          "description": "Name of Header to be matched",
          "type": "string"
        },
        "operator": {
          "description": "Describes operator to be matched",
          "type": "string",
          "enum": [
            "Any",
            "Equal",
            "Contains",
            "BeginsWith",
            "EndsWith",
            "LessThan",
            "LessThanOrEqual",
            "GreaterThan",
            "GreaterThanOrEqual"
          ],
          "x-ms-enum": {
            "name": "RequestHeaderOperator",
            "modelAsString": true
          }
        },
        "negateCondition": {
          "description": "Describes if this is negate condition or not",
          "type": "boolean"
        },
        "matchValues": {
          "description": "The match value for the condition of the delivery rule",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "transforms": {
          "description": "List of transforms",
          "type": "array",
          "items": {
            "$ref": "#/definitions/transform"
          }
        }
      }
    },
    "RequestBodyMatchConditionParameters": {
      "description": "Defines the parameters for RequestBody match conditions",
      "required": [
        "operator",
        "matchValues",
        "@odata.type"
      ],
      "properties": {
        "@odata.type": {
          "type": "string",
          "enum": [
            "#Microsoft.Azure.Cdn.Models.DeliveryRuleRequestBodyConditionParameters"
          ]
        },
        "operator": {
          "description": "Describes operator to be matched",
          "type": "string",
          "enum": [
            "Any",
            "Equal",
            "Contains",
            "BeginsWith",
            "EndsWith",
            "LessThan",
            "LessThanOrEqual",
            "GreaterThan",
            "GreaterThanOrEqual"
          ],
          "x-ms-enum": {
            "name": "RequestBodyOperator",
            "modelAsString": true
          }
        },
        "negateCondition": {
          "description": "Describes if this is negate condition or not",
          "type": "boolean"
        },
        "matchValues": {
          "description": "The match value for the condition of the delivery rule",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "transforms": {
          "description": "List of transforms",
          "type": "array",
          "items": {
            "$ref": "#/definitions/transform"
          }
        }
      }
    },
    "RequestSchemeMatchConditionParameters": {
      "description": "Defines the parameters for RequestScheme match conditions ",
      "required": [
        "operator",
        "matchValues",
        "@odata.type"
      ],
      "properties": {
        "@odata.type": {
          "type": "string",
          "enum": [
            "#Microsoft.Azure.Cdn.Models.DeliveryRuleRequestSchemeConditionParameters"
          ]
        },
        "operator": {
          "description": "Describes operator to be matched",
          "type": "string",
          "enum": [
            "Equal"
          ]
        },
        "negateCondition": {
          "description": "Describes if this is negate condition or not",
          "type": "boolean"
        },
        "matchValues": {
          "description": "The match value for the condition of the delivery rule",
          "type": "array",
          "items": {
            "type": "string",
            "enum": [
              "HTTP",
              "HTTPS"
            ]
          }
        }
      }
    },
    "UrlPathMatchConditionParameters": {
      "description": "Defines the parameters for UrlPath match conditions",
      "required": [
        "operator",
        "matchValues",
        "@odata.type"
      ],
      "properties": {
        "@odata.type": {
          "type": "string",
          "enum": [
            "#Microsoft.Azure.Cdn.Models.DeliveryRuleUrlPathMatchConditionParameters"
          ]
        },
        "operator": {
          "description": "Describes operator to be matched",
          "type": "string",
          "enum": [
            "Any",
            "Equal",
            "Contains",
            "BeginsWith",
            "EndsWith",
            "LessThan",
            "LessThanOrEqual",
            "GreaterThan",
            "GreaterThanOrEqual",
            "Wildcard"
          ],
          "x-ms-enum": {
            "name": "UrlPathOperator",
            "modelAsString": true
          }
        },
        "negateCondition": {
          "description": "Describes if this is negate condition or not",
          "type": "boolean"
        },
        "matchValues": {
          "description": "The match value for the condition of the delivery rule",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "transforms": {
          "description": "List of transforms",
          "type": "array",
          "items": {
            "$ref": "#/definitions/transform"
          }
        }
      }
    },
    "UrlFileExtensionMatchConditionParameters": {
      "description": "Defines the parameters for UrlFileExtension match conditions",
      "required": [
        "operator",
        "matchValues",
        "@odata.type"
      ],
      "properties": {
        "@odata.type": {
          "type": "string",
          "enum": [
            "#Microsoft.Azure.Cdn.Models.DeliveryRuleUrlFileExtensionMatchConditionParameters"
          ]
        },
        "operator": {
          "description": "Describes operator to be matched",
          "type": "string",
          "enum": [
            "Any",
            "Equal",
            "Contains",
            "BeginsWith",
            "EndsWith",
            "LessThan",
            "LessThanOrEqual",
            "GreaterThan",
            "GreaterThanOrEqual"
          ],
          "x-ms-enum": {
            "name": "UrlFileExtensionOperator",
            "modelAsString": true
          }
        },
        "negateCondition": {
          "description": "Describes if this is negate condition or not",
          "type": "boolean"
        },
        "matchValues": {
          "description": "The match value for the condition of the delivery rule",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "transforms": {
          "description": "List of transforms",
          "type": "array",
          "items": {
            "$ref": "#/definitions/transform"
          }
        }
      }
    },
    "UrlFileNameMatchConditionParameters": {
      "description": "Defines the parameters for UrlFilename match conditions",
      "required": [
        "operator",
        "matchValues",
        "@odata.type"
      ],
      "properties": {
        "@odata.type": {
          "type": "string",
          "enum": [
            "#Microsoft.Azure.Cdn.Models.DeliveryRuleUrlFilenameConditionParameters"
          ]
        },
        "operator": {
          "description": "Describes operator to be matched",
          "type": "string",
          "enum": [
            "Any",
            "Equal",
            "Contains",
            "BeginsWith",
            "EndsWith",
            "LessThan",
            "LessThanOrEqual",
            "GreaterThan",
            "GreaterThanOrEqual"
          ],
          "x-ms-enum": {
            "name": "UrlFileNameOperator",
            "modelAsString": true
          }
        },
        "negateCondition": {
          "description": "Describes if this is negate condition or not",
          "type": "boolean"
        },
        "matchValues": {
          "description": "The match value for the condition of the delivery rule",
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "transforms": {
          "description": "List of transforms",
          "type": "array",
          "items": {
            "$ref": "#/definitions/transform"
          }
        }
      }
    },
    "HttpVersionMatchConditionParameters": {
[...]
